@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;

@layer components {
  .manage-products-table {
    @apply table-auto border-collapse border  min-w-max w-full;
  }

  .manage-products-table th,td {
    @apply px-4 lg:px-0;
  }

  .nav-items a {
    @apply mr-4 lg:mr-6 xl:mr-8 font-normal md:text-sm lg:text-base;
  }

  .primary-btn {
    @apply bg-[#fa8c16] hover:bg-black transform duration-300 ease-in-out px-10 py-3 rounded-xl hover:text-white active:scale-90 transition-all disabled:cursor-not-allowed disabled:opacity-70 disabled:hover:bg-primary;
  }
  .primary-btn-dark {
    @apply bg-black hover:bg-white transform duration-300 ease-in-out px-10 py-3 rounded-xl text-white hover:text-black disabled:cursor-not-allowed disabled:opacity-70 disabled:hover:bg-black;
  }

  .footer > div {
    @apply col-span-6 sm:col-span-3 md:col-span-2 xl:col-span-1 first:col-span-6 md:first:col-span-4 xl:first:col-span-2 mt-10 first:-mt-5;
  }

  .footer h5 {
    @apply font-bold text-xl md:text-2xl mb-2;
  }
  .footer p {
    @apply text-base cursor-pointer;
  }

  form {
    @apply m-auto px-10 py-8 rounded-lg flex flex-col max-w-md md:max-w-lg shadow-xl;
  }

  form label {
    @apply mb-6 text-gray-700;
  }

  form label input,
  textarea,
  select {
    @apply block w-full outline-none bg-gray-100 px-4 py-3 rounded-lg mt-2;
  }

  form label select {
    @apply bg-gray-100 px-4 py-3 rounded-lg mt-2;
  }

  .add-product-form {
    @apply border-0 shadow-none md:border-2 max-w-3xl;
  }

  .add-product-form input,
  textarea,
  select {
    @apply border border-gray-400 rounded-lg p-2 disabled:opacity-60;
  }

  .add-img-box {
    @apply w-28 h-28 border bg-gray-100 text-gray-500 rounded flex gap-2 flex-col text-center items-center justify-center last:cursor-pointer;
  }

  .borderShadow {
    @apply border-2 border-gray-200 rounded-lg;
  }

  .sidebar-icon {
    @apply text-primary hover:bg-primary rounded-[50%] bg-gray-100 shadow-md p-4 hover:shadow-lg hover:rounded-2xl hover:text-white transition-all transform ease-linear duration-200;
  }

  .sidebar-icon-selected {
    @apply bg-primary shadow-lg rounded-2xl text-white;
  }

  .sidebar-tooltip {
    @apply bg-primary z-50 rounded min-w-max px-3 py-2 text-white absolute top-[50%] translate-y-[-50%] scale-0 group-hover:scale-100 transition-all transform duration-200 left-5  group-hover:left-20 shadow-lg;
  }

  .suggestion {
    @apply px-2;
  }
  .suggestion-active {
    @apply bg-primary text-white rounded;
  }
}

body {
  font-family: "Jost", sans-serif;
}

.kumb-sans-font {
  font-family: "Kumbh Sans", sans-serif;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
